#nav-list {
    text-align: center;
    border: 1px border-style black;
    background-color: #86BBEC;
    text-decoration-color: white;
    border: 1px solid black;
}

#nav-list a {
    border: 1px solid black;
}

#home-tiles {
    padding-top: 15px;
}
#menuSection1, #menuSection2, #menuSection3 {
    width: 100%;
    position: relative;
    background-color: gray;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

#menuSection1 {
    background-color: #52CC4E;
}

#menuSection2 {
    background-color: #B453B4;
}

#menuSection3 {
    background-color: #C3CC47;
}