
<span ng-if="!infoCtrl.isSignedUp">
    Not Signed Up Yet. 
    <a ui-sref="public.signUp">Sign up Now!</a>
</span>


<span ng-if="infoCtrl.isSignedUp">
    First Name: {{ infoCtrl.myInformation.firstname }} <br>
    Last Name: {{ infoCtrl.myInformation.lastname }} <br>
    Email: {{ infoCtrl.myInformation.email }} <br>
    Phone: {{ infoCtrl.myInformation.phone }} <br>
    Favorite Food ID: {{ infoCtrl.myInformation.menuShortName }} <br>
    Favorite Food Name: {{ infoCtrl.myInformation.faveMenuTitle }} <br>
    Favorite Food Description: {{ infoCtrl.myInformation.faveMenuDescription }} <br>
    <img width="250" height="150" ng-src="{{infoCtrl.imagePath}}"> <br>
    {{ infoCtrl.imagePath }} <br>         
</span>


      