<!-- display category names in a list -->
<h3>THIS IS THE CATEGORIES PAGE</h3>
<!-- <ul>
    <li ng-repeat="category in $ctrl.categories">
        Category: 
        {{ category.name }}
    </li>
</ul> -->

<a ui-sref="home">Home</a>
<!-- <categories-list items="categoriesList.items"></categories-list> -->
<categories-list items = "categoriesList.items"></categories-list>

<!-- <ui-view></ui-view> -->



<!-- <ul>
    <li ng-repeat="item in $ctrl.items" ui-sref="mainList.itemDetail({itemId: $index})">
        {{ item.quantity }} of {{ item.name }}
    </li>
</ul> -->